@import "../utilities/mixins"
@import "../utilities/variables"
@import "~bootstrap/scss/mixins"
@import "~bootstrap/scss/variables"

.header
  padding-top: 18px
  padding-bottom: 19px
  display: flex
  flex-direction: row
  flex-wrap: wrap

  +e('item')
    flex-grow: 1
    +m('first')
      flex-grow: 9

  +e('logo')
    font-size: 36px
    color: $font-color-green
    margin-bottom: 0
    span
      color: $font-color-orange

  %vertical-align
    display: inline-block
    vertical-align: middle

  +e('call')
    @extend %vertical-align
    font-size: 18px

  +e('phone')
    @extend %vertical-align
    font-weight: 700
    font-size: 36px
    color: $font-color-green
    text-decoration: none
    &:hover, &:active, &:visited, &:link
      color: $font-color-green
      text-decoration: none

  +media-breakpoint-down(sm)
    +e('phone')
      font-size: 27px
    display: block
    +e('item')
      +m('first')
        margin-bottom: 20px


